/*---- 160x600 ----*/

/*--- FRAME 1 ---*/

#line_1_1 {
	position: absolute;
	background-position: -38px -232px;
	width: 109px;
	height: 14px;
	left: 38px;
	top: 292px;
}
#line_1_2 {
	position: absolute;
	background-position: -17px -258px;
	width: 130px;
	height: 14px;
	left: 17px;
	top: 318px;
}
#line_1_3 {
	position: absolute;
	background-position: -29px -284px;
	width: 118px;
	height: 14px;
	left: 29px;
	top: 344px;
}
#line_1_4 {
	position: absolute;
	background-position: -23px -310px;
	width: 125px;
	height: 16px;
	left: 23px;
	top: 370px;
}

/*--- FRAME 2 ---*/

#line_2_1 {
	position: absolute;
	background-position: -93px -348px;
	width: 54px;
	height: 14px;
	left: 93px;
	top: 278px;
}
#line_2_2 {
	position: absolute;
	background-position: -43px -374px;
	width: 104px;
	height: 14px;
	left: 43px;
	top: 304px;
}
#line_2_3 {
	position: absolute;
	background-position: -48px -400px;
	width: 99px;
	height: 14px;
	left: 48px;
	top: 330px;
}
#line_2_4 {
	position: absolute;
	background-position: -15px -426px;
	width: 133px;
	height: 14px;
	left: 15px;
	top: 356px;
}
#line_2_5 {
	position: absolute;
	background-position: -47px -452px;
	width: 99px;
	height: 14px;
	left: 47px;
	top: 382px;
}

/*--- FRAME 3 ---*/

#line_3_1 {
	position: absolute;
	background-position: -12px -499px;
	width: 139px;
	height: 14px;
	left: 12px;
	top: 269px;
}
#line_3_2 {
	position: absolute;
	background-position: -41px -524px;
	width: 109px;
	height: 15px;
	left: 41px;
	top: 294px;
}
#line_3_3 {
	position: absolute;
	background-position: -8px -551px;
	width: 142px;
	height: 14px;
	left: 8px;
	top: 321px;
}
#line_3_4 {
	position: absolute;
	background-position: -32px -608px;
	width: 119px;
	height: 14px;
	left: 32px;
	top: 378px;
}
/*#line_3_5 {
	position: absolute;
	background-position: 
	left: px;
	top: px;
}*/

#video {
	position: absolute;
	overflow: hidden;
	z-index: 1;
	width: 160px;
	height: 466px;
	left: 0px;
	top: 0px;
}

#iOS_image{
	position: absolute;
	background-image: url("images/iOS_image.png");
	background-repeat: no-repeat;
	z-index: 1;
	width: 160px;
	height: 466px;
	left: 0px;
	top: 0px;
	opacity: 0;
}

/*--------- END EDITABLES ---------*/

/*elements appear from right side - make right border*/
.textOnPanel {
	border-right: 50px solid #000;
	/*left: -50px !important;*/
}

.bg {
	position: absolute;
	width: 160px;
	height: 600px;
}

.sprite {
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image:url(images/160x600_sprites_crushed.png);
}

.logo {
	position: absolute;
	background-position: -3px -3px;
	width: 160px;
	height: 67px;

	/*bottom padding for elastic ease*/
	border-bottom: 50px solid black;
}

.cta {
	position: absolute;
	background-position: -3px -73px;
	width: 160px;
	height: 67px;
}
.cta_over {
	position: absolute;
	background-position: -3px -143px;
	width: 160px;
	height: 67px;
}

#loading			,
#text_shell			,
#cta				,
#cta_default		,
#cta_default_shell	,
#cta_over			,
#logo
{
	position:absolute;
}

#loading{
	z-index: 1000;
}

#text_shell	{
	width: 100%;
	height: 100%;
	z-index:10;
}

#logo {
	top:533px;
}

/* -------------------------------------------------------- cta */
#cta{
	width:160px;
	height:67px;
	left:0px;
	top:466px;
	overflow:hidden;

	border-bottom: 50px solid #14ABE0;
}
#cta_default,
#cta_over,
#cta_default_shell 	{
	width:100%;
	height:100%;
}
#cta_default_shell {
	height:67px;
	z-index:20;
	overflow: hidden;

	border-bottom: 50px solid #14ABE0;
}
#cta_default{
	height:67px;
}
#cta-over{
	height:67px;
	z-index:10;
}