body {

font-family:"Arial","Bitstream Verdana";

color:#000000;

margin:0px;

padding:0px;

border:0px;
background:#FFFFFF url(../images/22.jpg) bottom left no-repeat;

}

.contentpane tbody tr td form table tbody tr td table tbody tr td, .contentpane .sectiontableheader{ display: none; }
.contentpane tbody tr td form table tbody tr td{color:#fff;}

h1 {font-size:18px;color:#FF8400;}

h2 {font-size:16px;font-weight:bold;}

h3 {font-size:14px;font-weight:bold;}

h4 {font-size:12px;font-weight:bold;}

h5 {font-size:10px;}

h6 {font-size:10px;font-style:italic;}


#headtitle {float:right;}


.button {border:1px solid black;background-color: #146EB4; color: #FFFFFF;}

.contentheading {font-size:16px;font-weight:bold;}

.small {font-size:10px;padding-left:5px;}

.createdate {font-size:10px;padding-left:5px;}

.inputbox {background-color:#ffffff; border:1px solid #33334c;}

.blog_more ul {list-style-image: url(../images/arrow.png);}





a {

color:#00C;

text-decoration:none;

}



a:hover {

color:#525266;

text-decoration:none;

}







#topmenucontainer {

width:1000px;

margin:auto;

}



#topmenu {

color:#a4a4a4;

font-size:11px;

width:500px;

float:right;

text-align:right;

}



#topmenu a {

color:#a4a4a4;

font-size:11px;

text-decoration:none;

}



#topmenu ul {

margin-top:3px;

padding-top:3px;

}



#topmenu li {

display:inline;

background-image:url("../images/h1line.png");

background-repeat:repeat-y;

background-position:right;

padding-right:5px;

padding-left:5px;

}

#head {
	background:#E0EDFA;
}

#headcontainer {

clear:both;

padding-top:10px;



padding-bottom:10px;

width:1100px;

margin:auto;

}

#headtitle h1 {
	 font-size:14px;font-weight:bold;color:#333;
	margin: 0;
	padding:0px ;
}




#logo {
	margin:o;

padding-left:40px;

}



#headright {

float:right;

margin-top:20px;

}


table.blog tbody tr td table {
	border-spacing:10px;
	
}




#menucontainer {
	padding-top:1px;
	padding-bottom:15px;

clear:both;

height:35px;

background-color:#4786C4;

background-repeat:repeat-x;

color:#ffffff;

}



#menu {

font-size:12px;

width:1000px;
margin:auto;

font-weight:bold;

}



#menu ul {

padding-top:10px;

}



#menu li {

list-style-type:none;

display:inline;

padding-bottom:1px;

}



#menu li a {

color:#ffffff;

text-decoration:none;

padding-right:15px;

padding-left:15px;

padding-bottom:10px;

padding-top:5px;

}





#contentcontainer {

padding-top:20px;

width:1100px;

margin:auto;

}



#sidebarleft {

width:180px;

float:left;
}



#sidebarleft h3 {

font-size:12px;

width:170px;

background-image:url("../images/h1line.png");

background-repeat:repeat-x;

background-position:bottom;

}



#sidebarleft ul {

list-style-image: url(../images/arrow.png);

}



#content {

float:left;
background-color:#F1F7FD;
min-height:580px;
width:690px;
margin-bottom:20px;
padding:10px;
margin-left:15px;

}



#sidebarright ul {

list-style-image: url(../images/arrow.png);

}



#sidebarright {
	width:160px;
float:right;

padding-left:10px;

}





#sidebarright h3 {

font-size:12px;

width:170px;

background-image:url("../images/h1line.png");

background-repeat:repeat-x;

background-position:bottom;

}





#footercontainer {

clear:both;

width:1000px;


margin:auto;

height:255px;

background-color:#E0EDFA;


}





#footerleft {

width:190px;

float:left;

padding-left:10px;


}



#footercenter {

width:190px;

float:left;

padding-right:10px;



}



#footerleft2 {

width:190px;

float:left;

padding-right:10px;


}



#footerright {

width:190px;

float:right;

padding:15px;



}



#footerright2 {

width:190px;

float:right;

padding-right:10px;



}



#copyright {

clear:both;

padding-top:50px;

margin:auto;

width:1000px;

color:#666666;

background-image:url("../images/h1line.png");

background-repeat:repeat-x;

background-position:center;

}

